# Database Credentials
DB_URL=jdbc:mysql://your-aiven-cloud-url:13577/defaultdb?sslMode=REQUIRED
DB_USERNAME=your_mysql_username
DB_PASSWORD=your_mysql_password

# AI Integrations
OPENAI_API_KEY=sk-your-openai-secret-key-goes-here
